*{
    margin: 0;
    padding: 0;
}

.screen{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu{
    width: 180px;
    min-height: 100%;
    background-color: #202020;
    float: left;
}

.naglowek{
    width: calc(100% - 180px);
    height: 50px;
    float: left;
}

.naglowek_content{
    height: 48px;
}

.tlo{
    float: left;
    width: calc(100% - 180px);
    height: calc(100% - 50px);
    background-image: url('image/tlo1.jpg');
}

.content{
    border: 1px solid darkgray;
    border-radius: 10px;
    min-height: 400px;
    margin: 25px;
    background-color: white;
}
